<h1><%= @person.name %></h1>
<ul>
<li>Age: <%= @person.age %></li>
<li>Living: <%= @person.alive %></li>
<li>Hair Color: <%= @person.hair_color %></li>
<li>Eye Color: <%= @person.eye_color %></li>
<li>Has Gender: <%= @person.gender %></li>
</ul>
<%= link_to 'Edit Person', edit_person_path %>
<%= link_to 'Destroy Person', person_path, method: :delete %>
<%= link_to 'Return', person_path %>  